<%include ../partials/header%>
<div class="container">

    <form action="/courses/<%= course._id %>/addstudent?_method=PUT" method="POST" >
        <button type="submit" class="btn btn-info btn-fill pull-right">Add students</button>
        <div class="clearfix"></div>
        <div class="form-row">
            <div class="col-md-4">
            <label>Add Users</label>
            <div class="form-group">
                    <select class="selectpicker" name="recivers" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                    <optgroup label="Users">
                        <% users.forEach(function (user) { %>                                                       
                            <option value="<%=user._id%>"><%=user.firstname+" "+user.lastname+" "+"("+user.username+")"%></option>
                        <% }); %>
                    </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                    <label>Add Department</label>
                    <div class="form-group">
                            <select class="selectpicker" name="recivers" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                            <optgroup label="Departments">                
                                <% departments.forEach(function (department) { %>
                                    <option><%= department.name %></option>
                                <% }); %>
                            </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <label>Add Group</label>
                            <div class="form-group">
                                    <select class="selectpicker" name="recivers" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                                    <optgroup label="Groups">
                                        <% groups.forEach(function (group) { %>                                                       
                                            <option><%= group.name %></option>
                                        <% }); %>
                                    </optgroup>
                                    </select>
                                </div>
                            </div>
        </div>
       
        
        
    </form>

   
</div>

<%include ../partials/footer%>