<%include ../partials/header%>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                    <form  action="/courses/<%=course._id%>/register/<%=CurrentUSer._id%>?_method=PUT" method="POST" >
                <%var Professor%>
                <%var helper=[]%>
                <!-- First Blog Post -->
                <% if(CurrentUSer.usertype===4){ %>
                    <button type ="submit"class="btn btn-info btn-fill"style="float:right">Registarter <span class="glyphicon glyphicon-chevron-right"></span></button>
                    </form>
                    <%}%>
                <h2>
                    <a href="#"><%=course.name%></a>
                </h2>
                <%users.forEach(function(user){%>
                   <% if(user._id.toString()==course.main_professor.toString()){%>
                    <p class="lead"style="margin-top:-10px">
                            Professor :<a href=""> <%=user.firstname+" "+user.lastname%></a>
                        </p>
                        <%}%>
               <% })%>
               <p style="margin-top:-15px">
                    TAs:
                
               <% course.helper_professor.forEach(function(helper_user){%>
                    <%users.forEach(function(user){%>
                        <%console.log(helper_user.toString())%>
                       <% if(user._id.toString()==helper_user.toString()){%>
                        
                                <a href=""><%=user.firstname+" "+user.lastname%></a>
                       </br>
                            
                            <%}%>
                   <% })%>  
               <% })%>
            </p>
                <hr>
          <!--      <div class="image">
                        <%if(course.logo){%>
                            <img src="/uploads/<%=course.logo%>" style="display: block; margin-left: auto; margin-right: auto; width: 100%; height:250px" alt="..."/>
                            <%}else if(course.logo==null){ %>
                            <img src="/userimage/user_male2-512.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="..."/>
                            <%}%>
                </div>
                <hr>
            -->
            <div class="panel panel-info ">
                    <div class="panel-heading">
                            <h3 class="panel-title"> Description</h3>
                          </div>
                <div  class="panel-body" style="margin-left:10px">
                        <input type="hidden" value="<%=course.description%>"id="course description">
                        <script>
                                document.write(document.getElementById("course description").value); 
                            </script>
                  </div> 
                </div>
                

                <hr>
               <div class="panel panel-primary">
                    <div class="panel-heading">
                            <h3 class="panel-title"> objectives</h3>
                          </div>
                          <%course.objectives.forEach(function (objective) { %> 
                 <div class="panel-body"><%=objective%></div>
                 <%});%>
               </div>
               <hr>
               <p><span class="glyphicon glyphicon-time"></span> Updated on <%=course.upload_date.toString().substr(0,15)%> </p>
<!--
               <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Feedbacks
                    </div>
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                      <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                      <hr>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                      <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                      <hr>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                      <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                      <hr>
                    </div>
                  </div>
                  -->
                  <!-- /.card -->
             


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>information</h4>
                 <span class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span>
                    <%=course.type%>  
                </br>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"> </span>
                         <%=course.hours%>  credit houres
                </br>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
                    <%=course.maxstudent_num%> student max
                </br>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"> </span>
                 <%=course.registartion_closeday.toString().substr(0,15)%> </br> (Registartion Closeday)
            </div>


                   
                    
             
                    <!-- /.input-group -->
                



                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Course Dependencies </h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled"> 
                                    <%course.dependencies.forEach(function (Course) { %>  
                                    <% courses.forEach(function(courselist){%>
                                           <% if(courselist._id.toString()==Course.toString()){%>
                                            <li><a href="/courses/<%=courselist._id%>"><%=courselist.name%></a>
                                                </li
                                                <%}%>
                                       <% })%>  
                                 <%});%> 
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
              <!--  <div class="well">
                    <h4>feedbacks</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>-->
            </div>
        </div>

        </div>
        <!-- /.row -->

     

<%include ../partials/footer%>
