<%include ../partials/header%>

<div class="container-fluid">
        <div class="row ">
                    <div class="card">
    
                        <div class="header">
                            <h4 class="title">Create New Course</h4>
                            <br>
                        </div>
                

    <div class="content">
        <form  id="form" action="/courses" method="POST" enctype="multipart/form-data" onsubmit="checkboxx('SelectedValues','course_departments');" >
            <div class="row">

                <div class="form-group col-md-8 ">
                        <label for="course_name">Course Name</label>
                    <input  name="course_name" type="text" class="form-control" required="required">
                    
                </div>
             
               <div class="form-group col-md-4">
                    <div class="form-group">
                                        <label class=" control-label">course type </label>
                                           <div class="">
                                            <select id="basic"  name ="course_type" class="selectpicker show-tick form-control" >
                                            <option>Mandatory</option>
                                            <option>elective</option>
                                            </select>
                         </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="form-group col-md-12  ">
                 <label for="summernote">Course Description</label>  
                   <textarea id="summernote" name="course_description" class="form-control" required="required"></textarea>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-3">
                            <label> course main professor </label>
                            <div class="form-group">
                                    <select class="selectpicker" name="course_main_professor"  data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" title="Professor Name" >
                                    <optgroup label="Users">
                                        <% users.forEach(function (user) { %>  
                                            <%if(user.usertype===1||user.usertype===2){%>                                                   
                                            <option value="<%=user._id%>"> <%= user.firstname+" "+user.lastname %></option>
                                            <%}%>
                                        <% }); %>
                                    </optgroup>
                                  
                                    </select>
                                </div>
                            </div>        
                      
                            <div class="col-md-3" >
                                    <div class="form-group" id="helpers">
                                       <label for="course_helper_professor">course helper professor</label>
                                       <select class="selectpicker" name="course_helper_professor" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" required="required">
                                           <optgroup label="Users">
                                               <% users.forEach(function (user) { %>                                                       
                                                <%if(user.usertype===1||user.usertype===2){%>                                                   
                                                    <option value="<%=user._id%>"> <%= user.firstname+" "+user.lastname %></option>
                                                    <%}%>
                                              <% }); %>
                                           </optgroup>
                                           </select>
                                   </div>
                               </div>
                <div class="col-md-3">
                    <label>course hours</label> 
                    <div class="form-group"> 
                     <input id="course_hours" name="course_hours" type="number"  class="form-control" required="required">
                </div>
                </div>

               <div class="col-md-3">
            <label> course dependencies </label>
            <div class="form-group">
                    <select class="selectpicker" name="course_dependencies" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                    <optgroup label="courses">
                        <% courses.forEach(function (course) { %>                                                       
                            <option value="<%=course._id%>"><%= course.name %></option>
                        <% }); %>
                    </optgroup>
                  
                    </select>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="form-group col-md-4 " >
             <label for="registartion_closeday">registartion close day</label>
              <input id="course_registartion_closeday" name="course_registartion_closeday" type="text" class="form-control datepicker"  required="required" >

                </div>
            
            
                
                <div class="form-group col-md-4 ">
                    <label for="course_max_students">course max students</label>
                    <input id="course_max_students" name="course_max_students" type="number"  class="form-control" required="required">
                </div>
                <div class="form-group col-md-4 " >
                        <label for="coruse_logo">Course logo</label>
                             <input id="coruse_logo" class="form-control" name="my_file" type="file"required="required">
                      </div>
            </div>
           
                 
            <div class="row">  
            
          <!--   <div class="col-md-2">
                    <button style="margin-bottom: -60px" type="button" class="btn btn-outline-info"  onclick="addElement2('helpers', 'div')">Add</button>

            </div> -->
            <div class="col-md-6">
                   <% var objectivesid=0%>

                    <!--    <input id ="add"type="button" value="Add another text input" onClick="repeat('helpers')">-->
                    <div class="form-group col-md-10  " style="margin-left: -15px" id="objectives">
                                <label for="course_objectives">course objectives</label>
                                <input id="course_objectives" name="course_objectives" type="text"  class="form-control" required="required">
                                
                                
                            </div>
                            <button style="margin-bottom: -60px" type="button" class="btn btn-outline-info"  onclick="addElement1('objectives', 'p','<%=objectivesid%>')">Add</button>
        
                        </div>
                          <!--  <input id ="add"type="button" value="Add another text input" onClick="repeat2('objectives')">-->
                    </div>
            <div class="col-md-12">
 <div class=" col-md-6" style="margin-left: -30px" >
      <h4>select  departments</h4>
          <%var counter =0%>
 
           <%departments.forEach(function (department) { %> 
                       <p>
                               <label for="SelectedValues<%=counter%>"><%=department.name%></label>
                               <input type="checkbox" id="SelectedValues<%=counter%>" name="SelectedValues" value='<%=department._id%>' />
                               
                             </p>
                     <%counter ++%>
           <%});%>   
       </div>
      
     </div>
     <div class="row">
                <input name="course_departments" id="course_departments" type="hidden" value="">
             
                
                   
                

                     <div class="row">
                   <div class="col-md-8">
                        <button class="btn btn-info btn-fill pull-left confirmation-callback" type="submit">Create Course </button>
                        </div>
            </div>  
     </div>
        </form>
    </div>
   </div>
 
 </div>
</div>

<script>
$('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
});
var helpersid=0
var objectivesid=0
    
function removeElement(removelement) {
    // Removes an element from the document
    var element = document.getElementById(removelement);
    console.log(element);

    console.log(element.parentElement);
    element.parentNode.removeChild(element);
    console.log("hii")

} 

  function addElement1(parentId, elementTag,num) {
        // Adds an element to the document
        var html1='</br>'+'<div  style="margin-left: -15px" class="col-md-10" >'+'<input class="form-control" id="course_objectives" name="course_objectives" type="text"  class="validate" required="required">'+'</div>'+'<div>'+
    '<a style="line-height:40px" href="" onclick="javascript:removeElement(\'course_objectives' + objectivesid + '\'); return false;">Remove</a>'+'</div>';
        var p = document.getElementById(parentId);
        var newElement = document.createElement(elementTag);
        newElement.setAttribute('id','course_objectives'+ objectivesid);
     
        newElement.innerHTML = html1;
        p.appendChild(newElement);
        objectivesid++;
    }

//<!--function addElement2(parentId, elementTag) {
    // Adds an element to the document
  //  var html='course_helper_professor'+ helpersid;
  //  var html1='</br>'+'<div class="col-md-9">'+'<select classname="selectpicker" name="course_helper_professor"  data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true" required="required">'+
  //                         '<optgroup label="users">'+
      //                     ' <% users.forEach(function (user) { %>'+                                                       
    //                            '<option><%= user.username %></option>'+
    //                      '  <% }); %>'+
      //                  '</optgroup>'+
        //              
          //              '</select>'+'</div>'+
//'<a style="line-height:40px" href="" onclick="javascript:removeElement(\'course_helper_professor' + helpersid + '\'); return false;">Remove</a>';
 //   var p = document.getElementById(parentId);
   // var newElement = document.createElement(elementTag);
   // newElement.setAttribute('id','course_helper_professor'+ helpersid);

   // newElement.innerHTML = html1;
   // p.appendChild(newElement);
   // helpersid++;
//}

function checkboxx(listName,labelName){

  var controls = document.getElementsByName(listName);
  var label = document.getElementById(labelName);

  label.value = '';

  for(var i=0;i<controls.length;i++){
      if(controls[i].checked)
      label.value += controls[i].value.toString()+',';
      

     console.log(label.value);
     console.log(label.name);

  }

}


        
  </script>
<%include ../partials/footer%>




