    
<%include ../partials/header%>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="" alt="">
            <div class="card-body">
              <h3 class="card-title"><%=course.name%></h3>
                            
            </div>
          </div>
          <!-- /.card -->

          <div class="card card-outline-secondary my-4">
            <div class="card-header">
               Recent announcements
            </div>
            <%var counter =0%>
            <script>
                var x =0;
            </script>
            <%announcement.reverse()%>
            <%announcement=announcement.slice(0,4)%>


                <%announcement.forEach(function (announcement){%> 
            <div class="card-body clearfix "style="margin-top:30px;"id="posts">
               <div>
                    <h3 style="margin-left:5px;display:inline-block;width:450px">   
                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span>
                       <%=announcement.name%> 
                   </h3>
               </div>
             
              <div style="margin-left:10px">
                    <input type="hidden" value="<%=announcement.description%>"id=announcementdescription<%=counter%>>
                    <script>
                            document.write(document.getElementById("announcementdescription"+x).value); 
                            x++; 
                        </script>
              </div>
              <div>
                    <hr>
                    <small class="text-muted"style="margin-left:5px">Posted by <%=announcement.upload_user%> on  <%=announcement.upload_date%></small>
        
                 </div> 
            </div>
            <%})%>
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-3">
                <h3 class="my-4">course controle</h3>
                <div class="list-group">
                  <a href="/courses/<%=course._id%>/lessons" class="list-group-item">Content</a>
                  <% if(CurrentUSer.usertype===0||CurrentUSer.usertype===1||CurrentUSer.usertype===2){ %>
                  <a href="/courses/<%=course._id%>/attendance/" class="list-group-item">Attendance</a>
                  <%}%>
                  <% if(CurrentUSer.usertype===0||CurrentUSer.usertype===1||CurrentUSer.usertype===2){ %>
                  <a href="/courses/<%=course._id%>/grades" class="list-group-item">Grades</a>
                  <%}%>
                  <a href="/courses/<%=course._id%>/announcement/showall" class="list-group-item">Announcements</a>
                  <a href="/courses/<%=course._id%>" class="list-group-item">Information</a>
                  <% if(CurrentUSer.usertype===0){ %>
                  <a href="/courses/<%= course._id %>/addstudent" class="list-group-item">Add student </a>
                  <%}%>
                  <% if(CurrentUSer.usertype===4){ %>
                    <a href="/users/<%= course._id %>/<%=CurrentUSer._id%>/myattendance" class="list-group-item">Course Attendance</a>
                    <%}%>
                    <% if(CurrentUSer.usertype===4){ %>
                      <a href="/users/<%=course._id %>/<%=CurrentUSer._id%>/mygrade" class="list-group-item">Course Grades</a>
                      <%}%>
                </div>
              </div>
      </div>

    </div>
    <!-- /.container -->

    <%include ../partials/footer%>
