<%include ../partials/header%>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">


                   
                    <%var counter=0%>
               
                
                <!-- First Blog Post -->
           
               <div class="panel panel-primary" style="border-bottom-style:none">
                    <div class="panel-heading clearfix">
                            <h3 class="panel-title " >Lecture Content</h3>
                          </div>
                          <%lesson.forEach(function (lesson){%> 
                          <%if(lesson.type=="lecture Work") { %>
                         
                        <div style="border-bottom-style:ridge; border-color:cadetblue;border-width:thin  ">
                                <div class="panel-body" style="display : inline-block; margin-right:150px ;width:250px;  max-width:250px; "><%=lesson.name%></div>
                                <a href="/uploads/<%=lesson.file%>"  class="btn btn-success  "style="display : inline-block;" download >download</a>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample<%=counter%>" aria-expanded="false" aria-controls="collapseExample"style="display : inline-block;">
                                        show more
                                      </button>                               
                                 <a href="/courses/<%=course_id%>/<%=lesson._id%>/lesson/edit" class="btn btn-warning  "style="display : inline-block;">edit</a>
                                 <form style="display:inline-block;" action="/courses/<%=course_id%>/<%=lesson._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>                                <div class="collapse" id="collapseExample<%=counter%>">
                                        <div class="card card-body" style="margin-left:10px">
                                         <p><%=lesson.description%></p>
                                            <footer class="blockquote-footer"><p>BY : <%=lesson.upload_user%> </p> <cite title="Source Title"><p><%=lesson.upload_date%></p></cite></footer>

                                        </div>
                                      </div>
                                    </div>
                                    <% };%>
                                    <%counter++%>
                                    <% });%>
               </div>
                        
             
               <div class="panel panel-success" style="border-bottom-style:none">
                    <div class="panel-heading clearfix">
                            <h3 class="panel-title " >Lab Content</h3>
                          </div>
                          <%lesson.forEach(function (lesson){%> 
                            <%if(lesson.type=="Lab Work") { %>
                        <div style="border-bottom-style:ridge; border-color:cadetblue;border-width:thin  ">
                                <div class="panel-body" style="display : inline-block;margin-right:150px ;width:250px;  max-width:250px; "><%=lesson.name%></div>
                                <a href="/uploads/<%=lesson.file%>"  class="btn btn-success  "style="display : inline-block;" download >download</a>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample<%=counter%>" aria-expanded="false" aria-controls="collapseExample"style="display : inline-block; ">
                                        show more
                                      </button>                               
                                 <a href="/courses/<%=course_id%>/<%=lesson._id%>/lesson/edit" class="btn btn-warning  "style="display : inline-block;">edit</a>
                                 <form style="display:inline-block;" action="/courses/<%=course_id%>/<%=lesson._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>         
                            
                                <div class="collapse" id="collapseExample<%=counter%>">
                                        <div class="card card-body" style="margin-left:10px">
                                         <p><%=lesson.description%></p>
                                            <footer class="blockquote-footer"><p>BY : <%=lesson.upload_user%> </p> <cite title="Source Title"><p><%=lesson.upload_date%></p></cite></footer>

                                        </div>
                                      </div>
                                    
                                </div>
                                <% };%>
                                <%counter++%>
                                <% });%>
                      </div>
                     
               <div class="panel panel-info" style="border-bottom-style:none">
                    <div class="panel-heading clearfix">
                            <h3 class="panel-title " >Exams</h3>
                          </div>
                          <%lesson.forEach(function (lesson){%> 
                            <%if(lesson.type=="Exams") { %>
                        <div style="border-bottom-style:ridge; border-color:cadetblue;border-width:thin  ">
                                <div class="panel-body" style="display : inline-block;margin-right:150px ;width:250px;  max-width:250px; "><%=lesson.name%></div>
                                <a href="/uploads/<%=lesson.file%>"  class="btn btn-success  "style="display : inline-block;" download >download</a>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample<%=counter%>" aria-expanded="false" aria-controls="collapseExample"style="display : inline-block;">
                                        show more
                                      </button>                               
                                 <a href="/courses/<%=course_id%>/<%=lesson._id%>/lesson/edit" class="btn btn-warning  "style="display : inline-block;">edit</a>
                                 <form style="display:inline-block;" action="/courses/<%=course_id%>/<%=lesson._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                                 <div class="collapse" id="collapseExample<%=counter%>">
                                        <div class="card card-body" style="margin-left:10px">
                                         <p><%=lesson.description%></p>
                                            <footer class="blockquote-footer"><p>BY : <%=lesson.upload_user%> </p> <cite title="Source Title"><p><%=lesson.upload_date%></p></cite></footer>

                                        </div>
                                      </div>
                                    </div>
                    <% };%>
                  <%counter++%>
                  <% });%>
               </div>
               
               <div class="panel panel-warning" style="border-bottom-style:none">
                    <div class="panel-heading clearfix">
                            <h3 class="panel-title " >Others</h3>
                          </div>
                          <%lesson.forEach(function (lesson){%> 
                            <%if(lesson.type=="Others") { %>
                         
                        <div style="border-bottom-style:ridge; border-color:cadetblue;border-width:thin  ">
                                <div class="panel-body" style="display : inline-block; margin-right:150px ;width:250px;  max-width:250px; "><%=lesson.name%></div>
                                <a href="/uploads/<%=lesson.file%>"  class="btn btn-success  "style="display : inline-block;" download >download</a>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample<%=counter%>" aria-expanded="false" aria-controls="collapseExample"style="display : inline-block;">
                                        show more
                                      </button>                               
                                 <a href="/courses/<%=course_id%>/<%=lesson._id%>/lesson/edit" class="btn btn-warning  "style="display : inline-block;">edit</a>
                                 <form style="display:inline-block;" action="/courses/<%=course_id%>/<%=lesson._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>                                <div class="collapse" id="collapseExample<%=counter%>">
                                        <div class="card card-body" style="margin-left:10px">
                                         <p><%=lesson.description%></p>
                                            <footer class="blockquote-footer"><p>BY : <%=lesson.upload_user%> </p> <cite title="Source Title"><p><%=lesson.upload_date%></p></cite></footer>

                                        </div>
                                      </div>
                                    </div>
                                    <% };%>
             
                                    <%counter++%>
                                    <% });%>
                       </div>
              

                </div>
                <div class="col-md-4">
                        <div class="card text-center pull-center" style="width: 18rem;margin-left:70px" >
                            <div class="card-body">
                              <h5 class="card-title">Add materials</h5>
                              <p class="card-text"> Here you can add additional content for your course.</p>
                              <a href="/courses/<%=course_id%>/lesson/new" class="btn btn-info">Add content</a>
                            </div>
                        </div>



                </div>
            </div>

        </div>
    

        <script>
        $('.collapse').collapse()
        </script>
        <!-- /.row -->

     

<%include ../partials/footer%>
