
<%include ../partials/header%>
<div class="container">
        <div class="row">
                <p class="lead"> Group Software Engineering  </p>
            </div>
    <div class="row">
      
       <div class="col-md-9">
           <div class="thumbnail">
                   <img class="img-responsive" src="/uploads/<%=post.image%>" alt="">
                   <div class="caption-full">
                       <h4> <a><%= post.content %></a></h4>
                       <p> <em> Created By <strong><%=post.author.username%>  </strong> </em> </p>
                       <span> Number Of Comments : <%= post.comments_num %> </span>
                   </div>

           </div>
           <div class="well">
             
             <%  post.comments.forEach(function(comment){ %>
                  <div class="row">
                      <div class="col-md-1">
                            <img src="/uploads/<%=comment.author.userimage%>" class="img-thumbnail" alt="Image" width="80" height="80" alt="Card image cap">
                      </div>
                      <div class="col-md-11">
        
                           <p><%= comment.content %></p> 
                           <br> <br>
                           <% if(comment.author.id == CurrentUSer.id){ %> 
                            <a href="/groups/<%=group_id%>/<%= post._id%>/comments/<%=comment._id%>/edit" class="btn  btn-warning " style="margin-left:80%">    Edit   </a>
                            <form  style="display: inline;"  action ="/groups/<%= group_id%>/<%= post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-flat">Delete</button> 
                            </form>
                            <br><br>
                     <% } %>
                     <br>

                       </div>
                  </div>
        
    
           <% });%>
           <div class="container">
               <div class="row">
                   <div class="col-md-1">
                        <img src="/uploads/<%=CurrentUSer.image%>" width="80px">

                   </div>
                   <div class="col-md-11">
                        <form action="/groups/<%= group_id %>/<%= post._id%>/comments/new" method="POST" >
                                <div class="media-content" style="display:inline">
                                    <div class="field">
                                        <p class="control" >
                                            <textarea class="textarea" style="width:700px" name="content" placeholder="Add a comment..." required="true"></textarea>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control">
                                            <button type="submit" style="margin-bottom: 10px" class="btn btn-success">Post comment</button>
                                        </p>
                                    </div>
                                </div>
                           
                        </form>

                   </div>
                    
               </div>
               
           </div>
          
           </div>
           
       </div>

    </div>

</div>
<%include ../partials/footer%>