
<%include ../partials/header%>
<div class="container">
        <div class="row">
                <p class="lead"> Group Software Engineering  </p>
            </div>
    <div class="row">
      
       <div class="col-md-9">
           <div class="thumbnail">
                   <img class="img-responsive" src="<%=  post.image %>" alt="">
                   <div class="caption-full">
                       <h4> <a><%= post.content %></a></h4>
                       <p> <em> Created By Esaam </em> </p>
                       <span> Number Of Comments <%= post.comments_num %> </span>
                   </div>

           </div>
           <div class="well">
             <div class="text-right">
                   
                <p> <a href="/groups/<%=group_id%>/<%= post._id%>/comments/new" class="btn btn-success"> Add Comment</a> </p>
             </div>
        
             <%  post.comments.forEach(function(comment){ %>
                  <div class="row">
                      <div class="col-md-12">
        
                           <p><%= comment.content %></p> 
                           <p> <a href="/groups/<%=group_id%>/<%= post._id%>/comments/<%=comment._id%>/edit" class="btn btn-success"> Edit </a></p>
                                
                           <form  id = "delete_form"  action ="/groups/<%= group_id%>/<%= post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button> 
                     </form>
                       </div>
                  </div>
              
    
           <% });%>
           </div>
       </div>

    </div>

</div>
<%include ../partials/footer%>