<%include ../partials/header%>
<div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1><img width="100px" src="http://muc.edu.om/Research_Centre/img/foundation.png"><%= group.name %></h1>
                <p>here all you need to know about <strong><%= group.name %> </strong> group </p>
                <a href="/groups/<%= group._id %>/edit" class="btn btn-success">Edit</a>
                <form style="display:inline;" action="/groups/<%= group._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <a href="/groups/<%=group._id%>/posts/new" class="btn btn-primary" style="margin-left: 700px">Add new Post</a>                                
            </div>
        </header>

        <div class="row">
            <% group.posts.forEach(function (post) { %>
            <div class="col-sm-12"id="posts">
                <div class="thumbnail">
                <div class="card-body">
                    <h5 class="card-title">user name</h5>
                    <p class="card-text"><%= post.content %>.</p>
                    <a href="/groups/<%=group._id%>/<%= post._id%>/comments/show" class="btn btn-primary">Read More..</a>
                    <a href="/groups/<%=group._id%>/<%= post._id%>/edit" class="btn btn-success">Edit</a>
                    <form style="display:inline;" action ="/groups/<%= group._id%>/<%= post._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                </div>
            </div>
        <% }); %>
        </div>
</div>
<%include ../partials/footer%>