<% include ../partials/header %>

<style>
        hr{
                border-top: 1px solid #8c8b8b;
        }
        #img{
                position: relative;
                width:  200px;
                height: 10px;
                background-position: 50% 50%;
                background-repeat:   no-repeat;
                background-size:cover;
        }
</style>

<div class="content">   
        <header class="jumbotron">
                <div class="container">
                        <figure class="figure">
                                <!--<img src="/uploads/<%= department.logo%>" class="figure-img img-fluid rounded" alt="">-->
                        </figure>
                        <h1><%= department.name %> Department</h1>
                        <p style="margin-top:-10px">
                                Since :<a> <%=department.since%></a>
                        </p>
                </div>
        </header>  
        <div class="container">
        
            
            <hr> 
            <div class="container">             
                <div class="col-lg-9">
                        <div class="panel panel-info ">
                                <div class="panel-heading">
                                        <h3 class="panel-title"> Description</h3>
                                </div>
                                <div  class="panel-body" style="margin-left:10px">
                                        <input type="hidden" value="<%=department.description%>"id="course description">
                                        <script>
                                                document.write(document.getElementById("course description").value); 
                                        </script>
                                </div> 
                        </div>
                        <div class='embed-responsive' style='padding-bottom:25%'>
                                <p>Department Detaild Description<p>
                                <a href="/uploads/<%= department.description_file%>"  class="btn btn-success  "style="display : inline-block;float:left;" download >download</a>
                        </div>
                        <div class='embed-responsive' style='padding-bottom:25%'>
                                <p>Department Courses Description<p>
                                <a href="/uploads/<%= department.courses_file%>"  class="btn btn-success  "style="display : inline-block;float:left;" download >download</a>
                        </div>
                        <div class='embed-responsive' style='padding-bottom:25%'>
                                <p>Department Courses Tree<p>
                                <a href="/uploads/<%= department.courses_tree%>"  class="btn btn-success  "style="display : inline-block;float:left;" download >download</a>
                        </div>
                </div>
                <div class="col-lg-3">  </div>
            </div>

            <h3>All Department Courses</h3>
<hr>
<%if(Courses.length>=1){ %>
<% Courses.forEach(function(course){ %>
       <div style="display:inline-block; width:20%; margin:2.5%;" >
        <div class="thumbnail" >
           <img src="/uploads/<%=course.logo%>" style=" height: 150px;" alt="descrption ">
           <div class="caption">

                <h3><%=course.name%></h3>
                        <a href="/courses/info/<%= course._id%>" class="btn btn-primary" role="button" style="margin:auto;">view Course</a> 
                      </div>
                     </div>
                   </div>
                <%})%>

                <%}else{ %>
                  <h4 style="text-align:center "> NO Courses are added yet </h4>
                 <% }%>

            
</div>
</div>


<% include ../partials/footer %>
