<%include ../partials/header%>
<style>
hr{
    border-top: 1px solid #8c8b8b;
}
#img{
  position: relative;
      width:  200px;
      height: 10px;
      background-position: 50% 50%;
      background-repeat:   no-repeat;
      background-size:cover;
}
</style>

<header class="jumbotron">
    <div class="container">
        <h1>FCIS Learning Managment System</h1>
        <p>platform that conect all univercity members and provide online services </p>
    </div>
</header>


<h3>My Courses</h3>
<hr>
<%if(Mycourses.length>=1){ %>
<% Mycourses.forEach(function(course){ %>
       <div style="display:inline-block; width:20%; margin:2.5%;" >
        <div class="thumbnail" >
           <img src="/uploads/<%=course.logo%>" style=" height: 150px;" alt="descrption ">
           <div class="caption">

                <h3><%=course.name%></h3>
                        <p style="overflow:auto; height:100px; " ><%=course.description%></p>
                        <a href="/courses/<%= course._id %>" class="btn btn-primary" role="button" style="margin:auto;">view Course</a> 
                      </div>
                     </div>
                   </div>
                <%})%>

                <%}else{ %>
                  <h4 style="text-align:center "> You don`t have any courses yet </h4>
                 <% }%>
<h3>My groups</h3>
 <hr>

 <%if(Mygroups.length>=1){ %> 
  <% Mygroups.forEach(function(group){ %>
         <div style="display:inline-block; width:20%; margin:2.5%;" >
          <div class="thumbnail" >
             <img src="/uploads/<%=group.image%>" style=" height: 150px;" alt="descrption ">
             <div class="caption">
  
                  <h3><%=group.name%></h3>
                          <p style="overflow:auto; height:100px; " ><%=group.description%></p>
                          <a href="/groups/<%= group._id %>" class="btn btn-primary" role="button" style="margin:auto;">view Group</a> 
                        </div>
                       </div>
                     </div>
                  <%})%>
  
                  <%}else{ %>
                    <h4 style="text-align:center "> You don`t have any groups yet </h4>
                   <% }%>

<%include ../partials/footer%>